@media only screen and (min-width: 760px){
    .displayNone{
        display: block;
    }
    .portafolioImg img, .blogImg img{
        width: 33%;
    }
}
@media only screen and (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}